<div class="container-fluid">
    <form action="/Admin/HomeAdmin/ChangePassword" method="post">
        <div class="row mt-3">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <div class="form-group">
                    <label class="form-text">Current Password</label>
                    <input type="password" class="form-control" name="current" />
                </div>
                <div class="form-group">
                    <label class="form-text">New Password</label>
                    <input type="password" class="form-control" name="newp" />
                </div>
                <div class="form-group">
                    <label class="form-text">Confirm Password</label>
                    <input type="password" class="form-control" name="confirm" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn--dark">Change</button>
                </div>
            </div>
            <div class="col-md-6"></div>
        </div>
    </form>
</div>