
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminPage1.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="dfgh">
                <div class="row">
                    <div class="col-md-6">
                        <p class="text---admin---product">1500</p>
                        <p class="text---admin---mt">Product</p>
                    </div>
                    <div class="col-md-6">
                        <i class="fa-solid fa-cart-shopping icon---shoppingcar"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-10">
                        <div class="progress">
                            <div class="progress-bar" style="width:70%"></div>
                        </div>
                    </div>
                    <div class="col-md-1">

                    </div>
                </div>
                <div class="row">
                    <p class="phantram---admin">70%</p>
                </div>
            </div>

        </div>
        <div class="col-md-3">
            <div class="dfgh">
                <div class="row">
                    <div class="col-md-6">
                        <p class="text---admin---product">1500</p>
                        <p class="text---admin---mt">Product</p>
                    </div>
                    <div class="col-md-6">
                        <i class="fa-solid fa-cart-shopping icon---shoppingcar"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-10">
                        <div class="progress">
                            <div class="progress-bar" style="width:70%"></div>
                        </div>
                    </div>
                    <div class="col-md-1">

                    </div>
                </div>
                <div class="row">
                    <p class="phantram---admin">70%</p>
                </div>
            </div>

        </div>
        <div class="col-md-3">
            <div class="dfgh">
                <div class="row">
                    <div class="col-md-6">
                        <p class="text---admin---product">1500</p>
                        <p class="text---admin---mt">Product</p>
                    </div>
                    <div class="col-md-6">
                        <i class="fa-solid fa-cart-shopping icon---shoppingcar"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-10">
                        <div class="progress">
                            <div class="progress-bar" style="width:70%"></div>
                        </div>
                    </div>
                    <div class="col-md-1">

                    </div>
                </div>
                <div class="row">
                    <p class="phantram---admin">70%</p>
                </div>
            </div>

        </div>
        <div class="col-md-3">
            <div class="dfgh">
                <div class="row">
                    <div class="col-md-6">
                        <p class="text---admin---product">1500</p>
                        <p class="text---admin---mt">Product</p>
                    </div>
                    <div class="col-md-6">
                        <i class="fa-solid fa-cart-shopping icon---shoppingcar"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-10">
                        <div class="progress">
                            <div class="progress-bar" style="width:70%"></div>
                        </div>
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>
                <div class="row">
                    <p class="phantram---admin">70%</p>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="mai---shipo">
            </div>
        </div>
        <div class="col-md-6">
            <div class="mai---shipo">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="mai---shipo">
                <p class="text---sales---admin">sales</p>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>John</td>
                            <td>Doe</td>
                            <td>john@example.com</td>
                        </tr>
                        <tr>
                            <td>Mary</td>
                            <td>Moe</td>
                            <td>mary@example.com</td>
                        </tr>
                        <tr>
                            <td>July</td>
                            <td>Dooley</td>
                            <td>july@example.com</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>
