<p class="title--choosing mt-5">The feet of young Vietnamese men are wider than those in European countries, so the size of Western shoes is also different. At the same time, the fit of a pair of shoes is the key to increasing your self-confidence.</p>
<p class="mt-3">Let young people choose the most suitable and satisfactory pair of Western shoes. Be Classy sends gentlemen how to measure their feet and choose the right size for themselves!</p>
<p>Prepare:</p>
<p>- 1 sheet of A4 or A3 paper (depending on your foot size)</p>
<p>- 1 pen</p>
<p>- 1 tape measure</p>
<p class="mt-3"><b>Step 1: Place the paper on the floor, then put your feet on it</b></p>
<img src="~/Content/Image/Details/details.png"/>
<p class="mt-3"><b>Step 2: Use a pen to mark a point at the tip of the big toe (or the toe with the longest length on the foot) and mark a point at the heel</b></p>
<img src="~/Content/Image/Details/details2.png"/>
<p class="mt-3"><b>Step 3: Use a ruler to measure the distance between the two points just marked</b></p>
<img src="~/Content/Image/Details/details3.png" />
<p class="mt-3"><b>Step 4: Compare with Be Classy's Size Chart</b></p>
<img src="~/Content/Image/Details/details4.png" />














