
@{
    ViewBag.Title = "Instruction";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <img src="" width="100%" height="360"/>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="mt-5"><b>Step 1: </b>Visit the website and select the product you want to purchase</p>
            <p><b>Step 2: </b>Click on the product you want to buy, a pop up screen will appear with the following options</p>
            <p>If you want to continue shopping: Click on continue shopping to choose to add products to the cart</p>
            <p>If you want to view the cart to update products: Click view cart</p>
            <p>If you want to order and pay for this product please click: Order and pay</p>
            <p><b>Step 3: </b>Select payment account information</p>
            <p>If you already have an account, please enter your username, email and password in the section where you already have an account on the system.</p>
            <p>If you do not have an account and want to register an account, please fill in your personal information to continue registering an account. Once you have an account, you will easily track your orders</p>
            <p>If you want to purchase without an account, please click on order without an account</p>
            <p><b>Step 4: </b>Fill in your information to receive your order, choose payment and shipping method for your order</p>
            <p><b>Step 5: </b>Review order information, fill in comments, and submit order</p>
            <p>After receiving your order, we will contact you by calling back to confirm your order and address.</p>
            <p>Sincerely thank you.</p>
        </div>
    </div>
</div>

