
@{
    ViewBag.Title = "Stories";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-5 mt-5">
            <p class="title--stories">Select province and city</p>
            <div class="box--stories">
                <i class="fas fa-map-marker-alt"><span class="district--stories">Ninh Kieu District</span></i>
                <p class="infor--stories mt-2">1 Ly Tu Trong, An Cu Ward, Ninh Kieu District, Can Tho City</p>
            </div>
        </div>
        <div class="col-md-7">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3928.7895113858613!2d105.779687!3d10.034220999999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a0881fa2f86433%3A0xee52427c850bbc0d!2zMSDEkC4gTMO9IFThu7EgVHLhu41uZywgVMOibiBBbiwgTmluaCBLaeG7gXUsIEPhuqduIFRoxqEsIFZpZXRuYW0!5e0!3m2!1sen!2sru!4v1701766230205!5m2!1sen!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mt-5">
            <img class="img--stories" src="~/Content/Image/Stories/stories.jpg"/>
        </div>
        <div class="col-md-6 mt-5">
            <p class="title--center">Store System</p>
            <p class="city--center">Can Tho City:</p>
            <p class="local--center mt-2">1 Ly Tu Trong, An Cu Ward, Ninh Kieu District, Can Tho City</p>
            <p class="time--center mt-5">Working hours: 09:00 - 22:00</p>
            <p class="time--center">There is car parking</p>
            <p class="time--center">Hotline: (+84) 1234 567 890</p>
            <p class="time--center">Free Payment for all types of cards: Visa/Master/JCB... - Momo - Bank Transfer.</p>
        </div>
    </div>
</div>

